*.Rproj
*.Rapp
*.Rhistory
*.RData
*.Ruserdata
*.DS_Store
*.Rproj.user

TODO.md
*tmp*
./*pdf
docs/
stan/
ignore/
pdfs/
cache/
figure/

tests/*.rds
tests/*.rda

# package development
mixmustr.Rcheck/
check/
mixmustr*tar.gz
..Rcheck/
.Rproj.user
/Meta/
paper/
!vignettes/vignette-fig-*.pdf
/doc/
docs
